<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HoangHaiDev</title>
</head>
<body>
    <h1>HELLO WORD FROM VIEW</h1>
    <p>
      <%=data%>
    </p>
</body>
</html>